@font-face {
  font-family: "JetBrainsMono";
  src: local("Trickster"),
    url("../assets/fonts/JetBrainsMono[wght].ttf") format("truetype"),
    url("../assets/fonts/JetBrainsMono-Italic[wght].ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  font-family: JetBrainsMono;
}
$orange: #ff6d0a;
$white: #fffbf9;
$black: #2f2f2f;
$gris: #b1b1b1;
header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 15px;
  border-bottom: 2px solid #ff6d0a;
  display: flex;
  align-content: space-between;
  
}
