@font-face {
  font-family: "JetBrainsMono";
  src: local("Trickster"),
    url("../assets/fonts/JetBrainsMono[wght].ttf") format("truetype"),
    url("../assets/fonts/JetBrainsMono-Italic[wght].ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  font-family: JetBrainsMono;
}
$orange: #ff6d0a;
$white: #fffbf9;
$black: #2f2f2f;
$gris: #b1b1b1;
$dark: #1b1b1b;
html {
  scroll-behavior: smooth;
}
:root {
  background-color: $white;
  color: $black;
  transition-property: background, color;
  transition-duration: 500ms;
  &.dark {
    background-color: $black;
    color: $white;
    section#work {
      .website {
        a {
          color: $black;
          &:hover {
            background-color: $black;
            color: $white;
          }
        }
      }
    }
    header {
      background: $black;
    }
    section#about {
      .content {
        .left {
          .btn {
            a {
              background-color: $orange;
              color: $black;
              &:hover {
                background: $black;
                color: $orange;
              }
            }
          }
        }
      }
    }

    .cards {
      .card {
        background-color: $dark;
        color: $white;

        h3 {
          color: $white;
        }
        .tools {
          .tool {
            background-color: $orange;
            color: $black;
          }
        }
      }
    }

    section#contact {
      form {
        input {
          color: $black;

          &::placeholder {
            color: $black;
          }
        }
        textarea {
          color: $black;

          &::placeholder {
            color: $black;
          }
        }
        .btn {
          color: $black;
          &:hover {
            background-color: $black;
            color: $orange;
          }
        }
      }
    }
    footer {
      .grid {
        div {
          svg {
            color: $black;
          }
        }
      }
    }
  }
}
header {
  position: sticky;
  z-index: 500;
  top: 0;
  width: 100%;
  padding: 15px;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 2px solid #ff6d0a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  transition-property: background;
  transition-duration: 500ms;
  .logo {
    width: 125px;
    display: flex;
    justify-content: center;
    img {
      filter: drop-shadow(0 0.05rem 0.5rem $gris);
      width: 35%;
    }
  }
  .links {
    display: grid;
    grid-template-columns: repeat(6, 5rem);
    align-content: center;
    place-content: center;
    gap: 0.25rem;
    place-content: center;
    button {
      background: transparent;
      border: none;
      cursor: pointer;
    }
    .navelement {
      text-align: left;
      font-size: 0.8rem;
      color: $orange;
      text-decoration: none;
    }
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  .phonelinks {
    display: grid;
    grid-template-columns: repeat(2, 3rem);
    align-content: center;
    place-content: center;
    gap: 0.25rem;
    place-content: center;
    button {
      background: transparent;
      border: none;
      cursor: pointer;
    }
    .navelement {
      text-align: left;
      font-size: 0.8rem;
      color: $orange;
      text-decoration: none;
    }
    @media screen and (min-width: 800px) {
      display: none;
    }
  }
}
.title {
  margin-top: 15%;
  h1 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 5rem;
    @media screen and (max-width: 1059px) {
      display: block;
    }
    @media screen and (max-width: 800px) {
      font-size: 3rem;
      text-align: center;
    }
    span {
      display: inline-flex;
      @media screen and (max-width: 800px) {
        margin-left: 5px;
        width: 25px;
      }
      margin-left: 25px;
      width: 25px;
    }
  }
  h1::first-letter {
    color: #ff6d0a;
  }
  p {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    @media screen and (max-width: 800px) {
      font-size: 0.8rem;
      width: 70%;
      margin: auto;
    }
  }
}
section#about {
  margin-top: 20%;
  width: 100%;
  h2 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    color: $orange;
  }
  .content {
    width: 100%;
    display: flex;
    margin-top: 5%;
    display: flex;
    @media screen and (max-width: 800px) {
      display: flex;
      flex-direction: column;
    }
    .right {
      @media screen and (max-width: 800px) {
        width: 100%;
        margin-top: 10%;
      }
      width: 30%;
      .img {
        @media screen and (max-width: 800px) {
          width: 80%;
        }
        width: 70%;
        margin: auto;

        img {
          width: 100%;
          border-radius: 20px;
        }
      }
    }
    .left {
      @media screen and (max-width: 800px) {
        margin-top: 10%;
        width: 100%;
      }
      width: 80%;
      p {
        margin: auto;
        width: 90%;
        font-size: 1rem;
        @media screen and (max-width: 800px) {
          width: 80%;
          font-size: 0.8rem;
        }
      }
      .btn {
        margin-top: 5%;
        margin-left: 5%;
        @media screen and (max-width: 800px) {
          width: 100%;
          margin: auto;
          margin-top: 5%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        a {
          padding: 10px;
          border-radius: 15px;
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
          background-color: $orange;
          color: $white;
          text-decoration: none;
          transition: background, color;
          transition-duration: 500ms;
          &:hover {
            background: $white;
            color: $orange;
          }
        }
      }
    }
  }
}
section#skills {
  width: 100%;
  margin-top: 15%;
  h2 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    color: $orange;
  }
  .skillgrid {
    width: 50%;
    margin: auto;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem;
    margin-top: 5%;
    @media screen and (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }
    .skill {
      display: block;
      .img {
        width: 50px;
        margin: auto;
        img {
          width: 100%;
        }
      }
      h3 {
        font-size: 0.9rem;
        font-weight: 100;
        width: 100%;
        text-align: center;
      }
    }
  }
}
section#project {
  margin-top: 20%;
  width: 100%;
  h2 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    color: $orange;
  }
}

.cards {
  margin: auto;
  width: 80%;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }
}

.card {
  text-decoration: none;
  color: $black;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: 500ms;
  border-radius: 15px;
  width: 300px;
  position: relative;
  margin: 10px;
  background-color: $white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  @media screen and (max-width: 450px) {
    width: 250px;
    padding: 15px;
  }

  .title {
    margin-top: 0px;

    h3 {
      @media screen and (max-width: 450px) {
        font-size: 1.6rem;
      }
      color: $black;
      font-size: 1.9rem;
      font-weight: 400;
    }
    h4 {
      @media screen and (max-width: 450px) {
        font-size: 0.8rem;
      }
      color: $gris;
      font-size: 1rem;
      font-weight: 400;
    }
  }

  p {
    @media screen and (max-width: 450px) {
      font-size: 0.8rem;
      margin-top: 20px;
    }

    margin-top: 25px;
    color: $gris;
    font-size: 1rem;
    font-weight: 400;
  }
  .tools {
    margin-top: 25px;
    @media screen and (max-width: 450px) {
      margin-top: 20px;
    }
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: row wrap;
    .tool {
      @media screen and (max-width: 450px) {
        font-size: 0.7rem;
      }
      background-color: $orange;
      color: $white;
      font-size: 0.9rem;
      font-weight: 300;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      margin: 5px;
      border-radius: 15px;
    }
  }
  .grow {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    img {
      width: 100%;
    }
  }
}

section#contact {
  margin-top: 10%;
  width: 100%;
  h2 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    color: $orange;
    margin-bottom: 3%;
  }
  .content {
    padding-bottom: 15px;
    width: 50%;
    @media screen and (max-width: 800px) {
      width: 70%;
    }
    margin: auto;
    border-bottom: 2px solid $orange;
    border-spacing: 30px 30px;
  }
  form {
    @media screen and (max-width: 800px) {
      width: 100%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    input {
      width: 70%;
      color: $white;
      background-color: $orange;
      border: none;
      border-radius: 15px;
      padding: 9px;
      margin: 10px;
      &::placeholder {
        color: $white;
      }
    }
    textarea {
      width: 70%;
      color: $white;
      background-color: $orange;
      border: none;
      border-radius: 15px;
      height: 100px;
      padding: 9px;
      margin: 10px;
      &::placeholder {
        color: $white;
      }
    }
    .btn {
      width: 100px;
      margin: auto;
      margin-top: 38px;
      font-size: 1.2rem;
      padding: 10px;
      cursor: pointer;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
      transition: background, color;
      transition-duration: 500ms;
      &:hover {
        background: $white;
        color: $orange;
      }
    }
  }
}
section#work {
  h1 {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
  }
  p {
    width: 70%;
    margin: auto;
    margin-top: 5%;
    text-align: left;
    font-size: 1.3rem;
    text-align: justify;
    color: $gris;
    font-weight: 400;
    @media screen and (max-width: 800px) {
      width: 80%;
      font-size: 1rem;
      text-align: left;
    }
  }
  .website {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      margin-top: 10%;
      border-radius: 25px;
      text-decoration: none;
      width: 300px;
      padding: 15px;
      background-color: $orange;
      color: white;
      text-align: center;
      transition-property: background, color;
      transition-duration: 300ms;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
      &:hover {
        background-color: $white;
        color: $black;
      }
    }
  }
  .tools {
    width: 50%;
    margin: auto;
    margin-top: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    .tool {
      @media screen and (max-width: 450px) {
        font-size: 0.7rem;
      }
      background-color: $orange;
      color: $white;
      font-size: 0.9rem;
      font-weight: 300;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      margin: 5px;
      border-radius: 15px;
    }
  }
  .img {
    @media screen and (max-width: 800px) {
      width: 90%;
    }
    width: 60%;
    margin: auto;
    margin-top: 5%;
    img {
      width: 100%;
    }
  }
}
footer {
  width: 100%;
  margin-top: 10%;
  background-color: $orange;

  .grid {
    width: 40%;
    margin: auto;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4, 0.1fr);
    gap: 0.5rem;

    padding: 10px;

    padding: 5px;
    a {
      width: 100%;
      svg {
        color: $white;
      }
    }
  }
}
.cv {
  width: 65%;
  margin: auto;
  margin-top: 5%;
  @media screen and (max-width: 450px) {
    width: 80%;
  }
  img {
    width: 100%;
  }
}
